{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        },
        "extensions": [".js", ".ts", ".jsx", ".tsx"]
      }
    ]
  ]
}
