name: Check PR

on: [pull_request]

jobs:
  run-ci:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    name: Run Type Check & Linters
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Setup pnpm config
        shell: bash
        run: pnpm config set store-dir ~/.pnpm-store

      - name: Install dependencies
        run: pnpm install

      - name: Check types
        run: pnpm type-check

      - name: Check Prettier
        run: pnpm format:ci

      - name: Check linting
        run: pnpm lint

      - name: Check commits messages
        uses: wagoid/commitlint-github-action@v6
